language: generic
sudo: required
dist: xenial

before_install:
#  - sudo rm /var/cache/apt/archives/lock
#  - sudo rm /var/lib/dpkg/lock
  - sudo apt-get update
  - sudo apt-get install -y lazarus-1.6

script:
  - lazbuild MicroCoinMiner.lpi

